albumentations==1.2.1
tensorboard
beautifulsoup4
click
huggingface-hub
imageio
matplotlib
numpy
opencv-python
opencv-python-headless
pillow
pylint
pyparsing
PyYAML
scikit-image
scikit-learn
scipy
six
timm
tokenizers
tqdm
transformers
gdown
pynvml
pycocotools
torchinfo
pytorch_lightning
torch_optimizer
sentence_transformers
